html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: arial; }

a {
  color: black;
  text-decoration: none; }

.container {
  width: 100%;
  height: 1180px;
  background: url(../img/bg-white-fence.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.header {
  width: 100%;
  height: 200px;
  background: #efefe6;
  padding-top: 60px; }
  .header::after {
    clear: both;
    content: "";
    display: block; }
  .header h1 {
    font-size: 4em;
    text-align: center;
    color: #f7a19f; }
  .header h2 {
    text-align: center;
    color: #f7a19f; }

.nav-bar-wrapper {
  width: 100%;
  height: auto;
  background: #8FC5A3;
  padding: 10px; }
  .nav-bar-wrapper::after {
    clear: both;
    content: "";
    display: block; }

.nav-bar {
  margin: auto;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto; }
  .nav-bar > li {
    text-align: center;
    list-style: none;
    font-weight: bold; }
    .nav-bar > li:first-of-type a {
      color: #f4817e; }
  .nav-bar a {
    color: #efefe6;
    transition: color .3s; }
    .nav-bar a:hover, .nav-bar a:active, .nav-bar a:focus {
      color: #f4817e; }

.hover-dropdown {
  position: relative; }
  .hover-dropdown .dropdown {
    position: absolute;
    top: 26px;
    width: 76px;
    height: 90px;
    background: #8FC5A3;
    opacity: 0;
    transition: opacity .3s; }
    .hover-dropdown .dropdown li {
      list-style: none;
      line-height: 30px;
      color: #efefe6;
      font-weight: normal; }
      .hover-dropdown .dropdown li:hover {
        background: #f7a19f; }
  .hover-dropdown:hover > .dropdown {
    opacity: 1; }

.main {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 800px;
  background: rgba(239, 239, 230, 0.7);
  padding: 100px; }
  .main::after {
    clear: both;
    content: "";
    display: block; }

.main-img {
  float: left;
  height: 346px;
  width: 420px;
  margin: 20px; }
  .main-img img {
    width: 100%;
    border: 3px;
    border-radius: 10px; }

.intro {
  margin: 20px; }
  .intro span {
    font-weight: bold; }

.subscription {
  width: 100%;
  height: 100px;
  background: #8FC5A3;
  text-align: center;
  transition: background .5s; }
  .subscription::after {
    clear: both;
    content: "";
    display: block; }
  .subscription h3, .subscription h4 {
    color: #efefe6; }
  .subscription:hover {
    background: #519d6d; }

.sub {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 100px;
  padding: 30px; }
  .sub::after {
    clear: both;
    content: "";
    display: block; }

.sub-input {
  display: none; }

input {
  width: 300px;
  height: 40px;
  font-size: 1.2em;
  font-weight: lighter;
  background: rgba(239, 239, 230, 0.7);
  border: 2px solid #8FC5A3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto; }

.sign-up {
  width: 300px;
  height: 40px;
  font-size: 1.2em;
  letter-spacing: 2px;
  color: #8FC5A3;
  background-color: #dbdbc7;
  border: none;
  border-radius: 5px; }

.footer-wrapper {
  width: 100%;
  height: 50px;
  background: gray;
  padding: 0 3%; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: auto;
  margin-left: auto;
  margin-right: auto;
  color: #efefe6; }
  .footer > * {
    margin-top: 5px;
    width: 33%; }

.social-media {
  margin-top: 8px; }
  .social-media img {
    margin-right: 5px;
    filter: invert(100%);
    width: 30px; }

.copyright {
  text-align: center; }

.credit {
  text-align: right; }

/*# sourceMappingURL=main.css.map */
