html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: arial; }

a {
  color: black;
  text-decoration: none; }
  a::after {
    clear: both;
    content: "";
    display: block; }

body {
  width: 100%;
  height: 100%;
  background: #efefe6;
  background: url(../img/white-floor.jpg);
  background-repeat: repeat;
  background-attachment: fixed; }
  body::after {
    clear: both;
    content: "";
    display: block; }

.container {
  width: 100%;
  height: 100%;
  background: rgba(239, 239, 230, 0.7); }

li {
  list-style: none; }

.header {
  width: 100%;
  height: 200px;
  background: #efefe6;
  padding-top: 20px; }
  .header::after {
    clear: both;
    content: "";
    display: block; }
  .header h1 {
    font-size: 5.5em;
    text-align: center;
    color: #f04d84;
    font-family: 'Lobster', cursive; }
  .header h2 {
    text-align: center;
    font-size: 1.5em;
    color: #f04d84;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px; }

.nav-bar-wrapper {
  width: 100%;
  height: 60px;
  background: #8FC5A3;
  padding: 20px 0;
  position: absolute; }
  .nav-bar-wrapper::after {
    clear: both;
    content: "";
    display: block; }

.fixed-logo {
  position: absolute;
  height: 60px;
  top: 0;
  padding: 5px 10px;
  opacity: 0;
  transition: opacity .2s;
  cursor: default; }

.fixed {
  position: fixed;
  top: 0; }
  .fixed .fixed-logo {
    opacity: 1;
    cursor: pointer; }

.nav-bar-home {
  margin: auto;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto; }
  .nav-bar-home > li {
    font-family: "Questrial";
    font-size: 1.1em;
    font-weight: normal;
    color: #efefe6;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center; }
    .nav-bar-home > li:first-of-type a {
      color: #f04d84; }
  .nav-bar-home a {
    font-family: "Questrial";
    font-size: 1.1em;
    font-weight: normal;
    color: #efefe6;
    transition: color .3s; }
    .nav-bar-home a:hover, .nav-bar-home a:active, .nav-bar-home a:focus {
      color: #f04d84; }

.main {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  height: 800px;
  background: #efefe6;
  padding: 100px; }
  .main::after {
    clear: both;
    content: "";
    display: block; }

.main-img {
  float: left;
  height: 346px;
  width: 420px;
  margin: 20px; }
  .main-img img {
    width: 100%;
    border: 3px;
    border-radius: 10px; }

.intro {
  margin: 20px; }
  .intro span {
    font-weight: bold; }

.subscription {
  width: 100%;
  height: 150px;
  background: #8FC5A3;
  text-align: center;
  transition: background .5s; }
  .subscription::after {
    clear: both;
    content: "";
    display: block; }
  .subscription h3, .subscription h4 {
    color: #efefe6;
    font-weight: normal; }
  .subscription:hover {
    background: #519d6d; }

.sub {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 100px;
  padding: 30px; }
  .sub::after {
    clear: both;
    content: "";
    display: block; }

.sub-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8); }

.sub-input {
  background: #efefe6;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  /* Could be more or less, depending on screen size */ }

.name {
  width: 100%;
  height: 40px;
  font-size: 1em;
  font-weight: lighter;
  background: rgba(239, 239, 230, 0.7);
  border: 2px solid #8FC5A3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto; }

.email {
  width: 100%;
  height: 40px;
  font-size: 1em;
  font-weight: lighter;
  background: rgba(239, 239, 230, 0.7);
  border: 2px solid #8FC5A3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto; }

.street {
  width: 100%;
  height: 40px;
  font-size: 1em;
  font-weight: lighter;
  background: rgba(239, 239, 230, 0.7);
  border: 2px solid #8FC5A3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto; }

.city {
  width: 48%;
  height: 40px;
  font-size: 1em;
  font-weight: lighter;
  background: rgba(239, 239, 230, 0.7);
  border: 2px solid #8FC5A3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto; }

.state {
  width: 48%;
  height: 40px;
  font-size: 1em;
  font-weight: lighter;
  background: rgba(239, 239, 230, 0.7);
  border: 2px solid #8FC5A3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto; }
  .state option:first-of-type {
    color: gray; }

.zip {
  width: 50%;
  height: 40px;
  font-size: 1em;
  font-weight: lighter;
  background: rgba(239, 239, 230, 0.7);
  border: 2px solid #8FC5A3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto; }

.sign-up {
  width: 100%;
  height: 40px;
  background: #8FC5A3;
  font-family: inherit;
  font-size: 1.1em;
  font-weight: normal;
  color: #efefe6;
  font-size: 1.2em;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px; }
  .sign-up:hover {
    color: #f04d84;
    cursor: pointer; }

.close {
  margin-top: 15px;
  margin-right: 30px;
  color: gray;
  float: right;
  font-size: 40px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer; }

.footer-wrapper {
  width: 100%;
  height: 50px;
  background: gray;
  padding: 0 3%; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: auto;
  margin-left: auto;
  margin-right: auto;
  color: #efefe6; }
  .footer > * {
    margin-top: 5px;
    width: 33%; }

.social-media {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto; }
  .social-media img {
    margin-right: 10px;
    filter: invert(100%);
    width: 30px; }

.copyright {
  text-align: center; }

.credit {
  text-align: right; }

span {
  font-weight: bold; }

.nav-bar-about {
  margin: auto;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto; }
  .nav-bar-about > li {
    font-family: "Questrial";
    font-size: 1.1em;
    font-weight: normal;
    color: #efefe6;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center; }
    .nav-bar-about > li:nth-of-type(2) a {
      color: #f04d84; }
  .nav-bar-about a {
    font-family: "Questrial";
    font-size: 1.1em;
    font-weight: normal;
    color: #efefe6;
    transition: color .3s; }
    .nav-bar-about a:hover, .nav-bar-about a:active, .nav-bar-about a:focus {
      color: #f04d84; }

.about {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 100%;
  background: #efefe6;
  padding: 90px 40px; }
  .about::after {
    clear: both;
    content: "";
    display: block; }

.about div[class*=wrapper] {
  margin-bottom: 30px;
  border: 5px double #8FC5A3;
  border-radius: 5px;
  padding: 20px; }
  .about div[class*=wrapper]::after {
    clear: both;
    content: "";
    display: block; }
  .about div[class*=wrapper] h1 {
    padding: 20px 0;
    color: #6db487; }

.founder::after, .philosophy::after, .farmers-market::after, .contact::after {
  clear: both;
  content: "";
  display: block; }

.profile, .fm {
  height: 250px;
  width: 250px;
  float: left; }
  .profile img, .fm img {
    height: 90%;
    width: 90%;
    border-radius: 5px;
    object-fit: cover; }

.butter {
  height: 250px;
  width: 250px;
  float: right; }
  .butter img {
    height: 90%;
    width: 90%;
    border-radius: 5px;
    object-fit: cover; }

.nav-bar-product {
  margin: auto;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto; }
  .nav-bar-product > li {
    font-family: "Questrial";
    font-size: 1.1em;
    font-weight: normal;
    color: #efefe6;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center; }
    .nav-bar-product > li:nth-of-type(3) a {
      color: #f04d84; }
  .nav-bar-product a {
    font-family: "Questrial";
    font-size: 1.1em;
    font-weight: normal;
    color: #efefe6;
    transition: color .3s; }
    .nav-bar-product a:hover, .nav-bar-product a:active, .nav-bar-product a:focus {
      color: #f04d84; }

.product-list {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  height: auto;
  background: #efefe6;
  padding: 100px 30px; }

/*# sourceMappingURL=main.css.map */
