html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: arial; }

a {
  color: black;
  text-decoration: none; }

body {
  width: 100%;
  height: 100%;
  background: url(../img/white-floor.jpg);
  background-repeat: repeat;
  background-attachment: fixed; }
  body::after {
    clear: both;
    content: "";
    display: block; }

li {
  list-style: none; }

.header {
  width: 100%;
  height: 200px;
  background: #efefe6;
  padding-top: 20px; }
  .header::after {
    clear: both;
    content: "";
    display: block; }
  .header h1 {
    font-size: 5.5em;
    text-align: center;
    color: #f04d84;
    font-family: 'Lobster', cursive; }
  .header h2 {
    text-align: center;
    font-size: 1.5em;
    color: #f04d84;
    font-family: arial;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px; }

.nav-bar-wrapper {
  width: 100%;
  height: 60px;
  background: #8FC5A3;
  padding: 20px 0;
  position: absolute; }
  .nav-bar-wrapper::after {
    clear: both;
    content: "";
    display: block; }

.fixed {
  position: fixed;
  top: 0; }

.nav-bar-home {
  margin: auto;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto; }
  .nav-bar-home > li {
    font-size: 1.25em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center; }
    .nav-bar-home > li:first-of-type a {
      color: #f04d84; }
  .nav-bar-home a {
    color: #efefe6;
    transition: color .3s; }
    .nav-bar-home a:hover, .nav-bar-home a:active, .nav-bar-home a:focus {
      color: #f04d84; }

.hover-dropdown {
  position: relative; }
  .hover-dropdown .dropdown {
    position: absolute;
    top: 40px;
    left: -5px;
    width: 150px;
    height: 120px;
    background: #8FC5A3;
    opacity: 0;
    transition: opacity .3s; }
    .hover-dropdown .dropdown li {
      font-size: .8em;
      list-style: none;
      line-height: 40px;
      color: #efefe6;
      font-weight: normal;
      transition: all .3s; }
      .hover-dropdown .dropdown li:hover {
        background: #f04d84; }
  .hover-dropdown:hover > .dropdown {
    opacity: 1; }

.basket {
  filter: invert(100%);
  width: 30px;
  position: absolute;
  right: 30px;
  top: 4px;
  transition: all .3s; }
  .basket:hover {
    transform: scale(1.1); }

.main {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  height: 800px;
  background: #efefe6;
  padding: 100px; }
  .main::after {
    clear: both;
    content: "";
    display: block; }

.main-img {
  float: left;
  height: 346px;
  width: 420px;
  margin: 20px; }
  .main-img img {
    width: 100%;
    border: 3px;
    border-radius: 10px; }

.intro {
  margin: 20px; }
  .intro span {
    font-weight: bold; }

.subscription {
  width: 100%;
  height: 100px;
  background: #8FC5A3;
  text-align: center;
  transition: background .5s; }
  .subscription::after {
    clear: both;
    content: "";
    display: block; }
  .subscription h3, .subscription h4 {
    color: #efefe6;
    font-weight: normal; }
  .subscription:hover {
    background: #519d6d; }

.sub {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 100px;
  padding: 30px; }
  .sub::after {
    clear: both;
    content: "";
    display: block; }

.sub-input {
  display: none; }

input {
  width: 300px;
  height: 40px;
  font-size: 1.2em;
  font-weight: lighter;
  background: rgba(239, 239, 230, 0.7);
  border: 2px solid #8FC5A3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto; }

.sign-up {
  width: 300px;
  height: 40px;
  font-size: 1.2em;
  letter-spacing: 2px;
  color: #8FC5A3;
  background-color: #dbdbc7;
  border: none;
  border-radius: 5px; }

.footer-wrapper {
  width: 100%;
  height: 50px;
  background: gray;
  padding: 0 3%; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: auto;
  margin-left: auto;
  margin-right: auto;
  color: #efefe6; }
  .footer > * {
    margin-top: 5px;
    width: 33%; }

.social-media {
  margin-top: 8px; }
  .social-media img {
    margin-right: 5px;
    filter: invert(100%);
    width: 30px; }

.copyright {
  text-align: center; }

.credit {
  text-align: right; }

span {
  font-weight: bold; }

.nav-bar-about {
  margin: auto;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto; }
  .nav-bar-about > li {
    font-size: 1.25em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center; }
    .nav-bar-about > li:nth-of-type(2) a {
      color: #f04d84; }
  .nav-bar-about a {
    color: #efefe6;
    transition: color .3s; }
    .nav-bar-about a:hover, .nav-bar-about a:active, .nav-bar-about a:focus {
      color: #f04d84; }

.about {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 100%;
  background: #efefe6;
  padding: 90px 40px; }
  .about::after {
    clear: both;
    content: "";
    display: block; }

.about div[class*=wrapper] {
  margin-bottom: 30px;
  border: 5px double #8FC5A3;
  border-radius: 5px;
  padding: 20px; }
  .about div[class*=wrapper]::after {
    clear: both;
    content: "";
    display: block; }
  .about div[class*=wrapper] h1 {
    padding: 20px 0;
    color: #6db487; }

.founder::after, .philosophy::after, .farmers-market::after, .contact::after {
  clear: both;
  content: "";
  display: block; }

.profile, .fm {
  height: 250px;
  width: 250px;
  float: left; }
  .profile img, .fm img {
    height: 90%;
    width: 90%;
    border-radius: 5px;
    object-fit: cover; }

.butter {
  height: 250px;
  width: 250px;
  float: right; }
  .butter img {
    height: 90%;
    width: 90%;
    border-radius: 5px;
    object-fit: cover; }

.nav-bar-wrapper-non-sticky {
  width: 100%;
  height: 60px;
  background: #8FC5A3;
  padding: 20px 0;
  letter-spacing: 5px;
  position: relative; }
  .nav-bar-wrapper-non-sticky::after {
    clear: both;
    content: "";
    display: block; }

.nav-bar-product {
  margin: auto;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto; }
  .nav-bar-product > li {
    font-size: 1.25em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center; }
    .nav-bar-product > li:nth-of-type(3) a {
      color: #f04d84; }
  .nav-bar-product a {
    color: #efefe6;
    transition: color .3s; }
    .nav-bar-product a:hover, .nav-bar-product a:active, .nav-bar-product a:focus {
      color: #f04d84; }

.basket {
  filter: invert(100%);
  width: 30px;
  position: absolute;
  right: 60px;
  top: 15px;
  transition: all .3s; }
  .basket:hover {
    transform: scale(1.1); }

.main-nav {
  width: 100%;
  height: 36px;
  background: rgba(177, 214, 191, 0.9);
  padding: 10px;
  position: absolute; }
  .main-nav::after {
    clear: both;
    content: "";
    display: block; }

.fixed {
  position: fixed;
  top: 0; }

.search-hover {
  color: white;
  font-weight: normal;
  position: absolute;
  right: 40px;
  top: 10px;
  cursor: pointer;
  transition: all .3s; }
  .search-hover:hover {
    transform: scale(1.1); }

.search {
  position: absolute;
  right: 18px;
  top: 35px;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 0;
  width: 280px;
  height: 45px;
  background: rgba(177, 214, 191, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: auto;
  z-index: 1;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .search::after {
    clear: both;
    content: "";
    display: block; }

.search-input {
  border: none;
  width: 70%;
  height: 25px;
  margin-bottom: 15px; }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border: none;
  box-shadow: none;
  outline: none; }

.search-icon {
  width: 25px;
  filter: invert(100%);
  vertical-align: middle;
  padding: 2px 0px 5px 0px;
  opacity: 0.8;
  transition: all .3s;
  margin-left: 7px;
  cursor: pointer; }
  .search-icon:hover {
    transform: scale(1.2);
    opacity: 1; }

.search-icon-x {
  cursor: pointer;
  margin-left: 7px;
  width: 28px;
  filter: invert(100%);
  vertical-align: middle;
  opacity: 0.8;
  transition: all .3s;
  padding: 2px 10px 5px 0px; }
  .search-icon-x:hover {
    transform: scale(1.2);
    opacity: 1; }

.category {
  margin: 0 auto;
  width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: auto;
  flex-direction: auto;
  transition: margin .3s ease 0; }
  .category li {
    font-family: arial;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: normal;
    transition: color .3s; }
    .category li:hover, .category li:active, .category li:focus {
      color: #f47ca5; }

.product-list {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  height: auto;
  background: #efefe6;
  padding: 30px 30px; }

.border {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 3px;
  background: #8FC5A3;
  margin: 30px auto; }

.products {
  padding: 25px 0; }

.products-header {
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px; }
  .products-header h1 {
    font-size: 3em;
    color: #f04d84;
    letter-spacing: 3px;
    font-family: 'Lobster', cursive; }

.items {
  display: flex;
  justify-content: auto;
  align-items: auto;
  flex-wrap: wrap;
  flex-direction: auto; }
  .items::after {
    clear: both;
    content: "";
    display: block; }
  .items a {
    width: 33%;
    padding: 10px 30px;
    margin: 30px 0;
    text-align: center; }
    .items a::after {
      clear: both;
      content: "";
      display: block; }
  .items img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    background: rgba(177, 214, 191, 0.5); }
  .items h4 {
    font-size: 1.2em;
    line-height: 30px;
    text-align: center;
    color: #6d6d4f; }
  .items h5 {
    font-size: 1em;
    text-align: center;
    color: #8a8a64;
    font-weight: normal; }

.item:hover img {
  opacity: 0.7; }

/*# sourceMappingURL=main.css.map */
