* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

a {
  @include clearfix;
  color: black;
  text-decoration: none;
}

body {
  @include clearfix;
  @include form(100%, 100%, $butter);
  @include bg($bg-url: 'url(../img/white-floor.jpg)', $repeat: repeat);
}

.container {
  @include form(100%, 100%, rgba($butter-90, 0.8));
  min-height: calc(100vh - 50px);
}

li {
  list-style: none;
}

.border {
  width: 90%;
  height: 3px;
  background: rgba($green, .7);
  margin: 30px auto;
}

.header {
  @include clearfix;
  @include form(100%, 200px, $butter);
  padding-top: 20px;
  h1 {
    @include font('Lobster', 5.5em, auto, $pink);
    text-align: center;
  }
  h2 {
    @include font('Questrial', 1.5em, bold, $pink);
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  @include media(max-width 500px) {
    padding-top: 30px;
    h1 {
      font-size: 4em;
    }
  }
  @include media(max-width 360px) {
    padding-top: 45px;
    h1 {
      font-size: 3em;
    }
  }
}

.sign-in, .fixed-sign-in {
  z-index: 1;
  position: absolute;
  width: 96px;
  top: 30px;
  right: 30px;
  @include flex(space-between, center, auto, auto);
  opacity: 0.24;
  transition: opacity .3s;
  h4 {
    text-transform: uppercase;
  }
  img {
    width: 30px;
    vertical-align: middle;
  }
}
.sign-in {
  &:hover {
    opacity: 0.3;
  }
  @include media(max-width 750px) {
    width: 30px;
    h4 {
      display: none;
    }
  }
  @include media(max-width 650px) {
    display: none;
  }
}

.fixed-sign-in {
  top: 10px;
  right: 2%;
  opacity: 0;
  cursor: default;
  @include media(max-width 1295px) {
    height: 30px;
    top: 7px;
    width: 30px;
    h4 {
      display: none;
    }
  }
  @include media(max-width 1070px) {
    display: none;
  }
}

.menu {
  height: 30px;
  position: absolute;
  top: 10px;
  right: 4%;
  display: none;
  @include media(max-width 650px) {
    display: block;
    opacity: .4;
    cursor: pointer;
  }
}

.nav-bar-wrapper {
  @include clearfix;
  @include form(100%, 50px, rgba($green, .9));
  padding: 15px 0;
  position: absolute;
  z-index: 1;
}

.fixed-logo {
  position: absolute;
  display: block;
  height: 50px;
  top: 0;
  left: 2%;
  padding: 5px 10px;
  opacity: 0;
  cursor: default;
  @include media(max-width 1295px) {
    left: 0;
    height: 30px;
    top: 7px;
  }
  @include media(max-width 1295px) {
    display: none;
  }
  @include media(max-width 650px) {
    display: block;
    top: 0;
    height: 50px;
  }
}

.fixed {
  position:fixed;
  top:0;
  .fixed-logo {
    opacity: 1;
    cursor: pointer;
  }
  .fixed-sign-in {
    opacity: 0.15;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
  }
}

.mobile-nav {
  display: none;
  @include clearfix;
  position: absolute;
  right: 0px;
  top: 50px;
  background: rgba($green, .9);
  @include size(250px 350px);
  padding: 0 20px;
  z-index: 2;
  @include media(max-width 650px) {
    .nav-bar-home {
      @include clearfix;
      @include nav-bar(first-of-type, block);
      display: block;
      >li {
        margin-top: 35px;
      }
    }
    .nav-bar-about {
      @include clearfix;
      @include nav-bar(nth-of-type(2), block);
      display: block;
      >li {
        margin-top: 35px;
      }
    }
    .nav-bar-product {
      @include clearfix;
      @include nav-bar(nth-of-type(3), block);
      display: block;
      >li {
        margin-top: 35px;
      }
    }
    .nav-bar-subscribe {
      @include clearfix;
      @include nav-bar(last-of-type, block);
      display: block;
      >li {
        margin-top: 35px;
      }
    }
    .nav-bar-sign {
      margin: auto;
      width: 99%;
      max-width: 950px;
      @include flex(space-between, center, auto, auto);
      > li {
        @include font('Questrial', 1em, normal, $butter);
        text-transform: uppercase;
        letter-spacing: 2.5px;
        text-align: center;
      }
      a {
        @include font('Questrial', 1.1em, normal, $butter);
        transition: color .3s;
        &:hover, &:active, &:focus {
          color: $pink;
        }
      }
      @include media(max-width 650px) {
        display: block;
      }
      display: block;
      >li {
        margin-top: 35px;
      }
    }
    .fixed-sign-in {
      display: flex;
      width: 96px;
      opacity: 1;
      top: 300px;
      right: 50%;
      transform: translateX(50%);
      z-index: 2;
      opacity: 0.35;
      h4 {
        display: flex;
      }
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }
}

.footer-wrapper {
  @include form(100%, 50px, gray);
  padding: 0 3%;
}

.footer {
  @include flex(space-between, center, wrap, auto);
  @include center;
  color: $butter;
  > * {
    margin-top: 5px;
    width: 33%;
  }
  @include media(max-width 630px) {
    h5 {
      font-size: 0.6em;
    }
  }
}

.social-media {
  margin-top: 8px;
  @include flex(flex-start, center, auto, auto);
  img {
    margin-right: 10px;
    filter: invert(100%);
    width: 30px;
  }
}

.copyright {
  text-align: center;
}

.credit {
  text-align: right;
}
