* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

a {
  color: black;
  text-decoration: none;
}

body {
  @include clearfix;
  @include form(100%, 100%, null);
  @include bg($bg-url: 'url(../img/white-floor.jpg)', $repeat: repeat);
}

li {
  list-style: none;
}
