* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

a {
  color: black;
  text-decoration: none;
}

body {
  @include clearfix;
  @include form(100%, 100%, null);
  @include bg($bg-url: 'url(../img/white-floor.jpg)', $repeat: repeat);
}

li {
  list-style: none;
}


.header {
  @include clearfix;
  @include form(100%, 200px, $butter);
  padding-top: 20px;
  h1 {
    font-size: 5.5em;
    text-align: center;
    color: $pink;
    font-family: 'Lobster', cursive;
  }
  h2 {
    text-align: center;
    font-size: 1.5em;
    color: $pink;
    // font-family: 'Rokkitt', serif;
    font-family: arial;
    text-transform: uppercase;
    font-weight: normal;
  }
}

.nav-bar-wrapper {
  @include clearfix;
  @include form(100%, auto, $green);
  padding: 10px;
  position: absolute;
}

.fixed {
  position:fixed;
  top:0;
}

.nav-bar-home {
  margin: auto;
  width: 65%;
  @include flex(space-between, center, auto, auto);
  > li {
    text-align: center;
    font-weight: bold;
    &:first-of-type a{
      color: $pink;
    }
  }
  a {
    color: $butter;
    transition: color .3s;
    &:hover, &:active, &:focus {
      color: $pink;
    }
  }
}

.hover-dropdown {
  position: relative;
  .dropdown {
    position: absolute;
    top: 26px;
    @include form(76px, 90px, $green);
    opacity: 0;
    transition: opacity .3s;
    li {
      list-style: none;
      line-height: 30px;
      color: $butter;
      font-weight: normal;
      transition: all .3s;
      &:hover {
        background: $pink;
      }
    }
  }
  &:hover > .dropdown{
    opacity: 1;
  }
}

.basket {
  filter: invert(100%);
  width: 30px;
  position: absolute;
  right: 30px;
  top: 4px;
  transition: all .3s;
  &:hover {
    transform: scale(1.1);
  }
}
