.nav-bar-press {
  margin: auto;
  width: 65%;
  @include flex(space-between, center, auto, auto);
  > li {
    text-align: center;
    list-style: none;
    font-weight: bold;
    &:nth-of-type(5) a{
      color: $pink;
    }
  }
  a {
    color: $butter;
    transition: color .3s;
    &:hover, &:active, &:focus {
      color: $pink;
    }
  }
}
