.nav-bar-sign {
  margin: auto;
  width: 99%;
  max-width: 950px;
  @include flex(space-between, center, auto, auto);
  > li {
    @include font('Questrial', 1em, normal, $butter);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
  }
  a {
    @include font('Questrial', 1.1em, normal, $butter);
    transition: color .3s;
    &:hover, &:active, &:focus {
      color: $pink;
    }
  }
  @include media(max-width 650px) {
    display: none;
  }
}

.signin-wrapper {
  @include flex(center, center, auto, auto);
  @include center;
  @include form(100%, 100%, $butter);
  max-width: 950px;
  min-height: calc(100vh - 250px);
}

.signin {
  @include flex(space-around, center, auto, column);
  margin: 120px 0 120px;
  @include form(80%, 300px, null);
  max-width: 500px;
  border-radius: 5px;
  * {
    @include center;
    width: 90%;
    transition: color .3s;
  }
  h1 {
    @include font(Questrial, auto, bold, rgba(black, .5));
    letter-spacing: 2px;
  }
  p, a {
    @include font(Questrial, auto, normal, rgba(black, .4));
    &:hover {
      color: rgba($green, 0.7);
    }
  }
}

.input {
  @include center;
  input {
    @include input(100%);
  }
}
