
@mixin form($width, $height, $bg-color) {
  width: $width;
  height: $height;
  background: #{$bg-color};
}

@mixin bg($bg-url, $repeat: no-repeat) {
  background: #{$bg-url};
  background-repeat: $repeat;
  background-attachment: fixed;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex ($horizontal, $vertical, $wrap, $direction) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin input($width) {
  width: $width;
  height: 40px;
  font-size: 1.2em;
  font-weight: lighter;
  background: $butter-90;
  border: 2px solid $green;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}
