
@mixin form($width, $height, $bg-color) {
  width: $width;
  height: $height;
  background: #{$bg-color};
}

@mixin bg($bg-url, $repeat: no-repeat) {
  background: #{$bg-url};
  background-repeat: $repeat;
  background-attachment: fixed;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin flex ($horizontal, $vertical, $wrap, $direction) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin font($family, $size, $weight, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin input($width) {
  width: $width;
  height: 40px;
  font-size: 1em;
  font-weight: lighter;
  background: rgba($butter, .9);
  border: 2px solid $green;
  border-radius: 5px;
  padding: 10px;
  margin: 7px auto;
}

@mixin nav-bar($type, $display){
  // .nav-bar-#{$page} {
    margin: auto;
    width: 99%;
    max-width: 950px;
    @include flex(space-between, center, auto, auto);
    > li {
      @include font('Questrial', 1em, normal, $butter);
      text-transform: uppercase;
      letter-spacing: 2.5px;
      text-align: center;
      &:#{$type} a {
        color: $pink;
      }
    }
    a {
      @include font('Questrial', 1.1em, normal, $butter);
      transition: color .3s;
      &:hover, &:active, &:focus {
        color: $pink;
      }
    }
    @include media(max-width 650px) {
      display: $display;
    }
}
