//butter opacity
$butter: #efefe6;
$butter-90: rgba($butter, .7);

//green opacity
$green: rgb(145, 214, 172);
$green-80: rgba($green, .8);

//orange
$orange: #fda188;

//border
$border: 1px solid red;
